/*1*/
/*body{overflow-x:hidden;overflow-y:scroll; }*/
/*个人资料*/
.box-an .div-lef {
    -webkit-animation: bounce 5s infinite both;
    /*###########重点这俩行代码？infinite */
}

.swiper .ani {
    -webkit-animation: bounceIn 5s 2 both;

}
.box-img{
    position: absolute;
    top: 100px;


}
.boxBou {
    width: 800px;
    margin:  100px auto 0;
}
.boxBou ul li {

    font-size: 24px;
    line-height: 24px;
    /*color: #0f0f0f;*/
    margin-top: 15px;
    color: #8c8c8c;
}

.boxBou ul {
    float: left;

}

.boxBou .rightLi {
    padding-left: 10%;
    /*padding-left: 200px;*/

}

.boxBou .leftLi, .boxBou .rightLi {
    /*right: 20%;*/
    text-align: left;

}

html, body {

    height: 100%;
}

body {
    background: #eee;

    font-size: 14px;
    color: #000;

}


.boxTop {
    position: relative;


    margin:0 auto 100px ;
    width: 150px;
    height:250px;
    vertical-align:middle;

}

.boxTop img {
    width: 150px;
    height: 150px;
    border-radius: 70px;

    /*margin-top: 100px;*/
}

.slide1 h2 {
    letter-spacing:10px;
   text-align: center;



}

.self li {



    font-size: 22px;
    margin-top: 10px;

}
.swiper-wrapper{

}
.self .max{
    letter-spacing:5px;
    font-size: 26px;
}
.self .small{
    font-size: 20px;
}
.self {
    margin-top: 150px;
    text-align: center;
}

/*动画*/
.skill {
    /*background-color: red;*/
    width: 1000px;
    /*font-size: 20px;*/
    /*background-color: #00cc88;*/



    text-align: left;
    margin: 100px auto 0;



}

.skill ul li {

    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    letter-spacing: 2px;
}

.professional {
    line-height: 140px;
    text-align: center;


    font-size: 40px;
}

.slide3 {

}

.box-thirdly {
    width: 1000px;
    text-align: left;


    margin: 0 auto;
}

.box-an {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

}

.box-an .div-lef img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.box-an .div-lef {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;

}

.swiper-slide .box-an .div-lef {
    margin-left: 10px;
}

.head-t {
    overflow: hidden;
    width: 800px;
    height: 350px;
    border-radius: 50px;
}

/*轮播*/

#b04 {
    width: 600px;
}

#b04 .dots {

    left: 0;
    right: 0;
    bottom: 20px;
}

#b04 .dots li {

    display: inline-block;

    width: 10px;

    height: 10px;

    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;

    border-radius: 6px;

    cursor: pointer;

    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;

    -moz-transition: background .5s, opacity .5s;

    transition: background .5s, opacity .5s;

}

#b04 .dots li.active {

    background: #fff;

    opacity: 1;

}

#b04 .arrow {
    position: absolute;
    top:200px;
    width: 40px;
    height: 40px;

}

#b04 #al {
    left: 10px;
}

#b04 #ar {
    right: 10px;
}

html, body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

ul, ol {
    padding: 0;
}
.slide-work{
    text-align: center;
}
.banner-work{
    position: relative;
    width: 800px;
    margin: 0 auto;
}
.headline{
    height: 140px;
}
.experience {


    text-align: center;
    line-height: 140px;

    font-size: 40px;
}

.banner {
    margin: 0 auto;
    position: absolute;

    overflow: auto;
    text-align: center;
    border-radius: 100px;

}

.banner li {
    list-style: none;
}

.banner ul li {
    float: left;
    width: 800px;
    height: 400px;
    border-radius: 100px;

}

.li-l, .li-r {
    /*height: 380px;*/
    /*border-radius: 100px;*/
    background-color: #ffffff;
    position: relative;
}

.banner ul {
    /*border-radius: 100px;*/

}

.li-l .text-l, .li-r .text-r {
    top: 50px;
    position: absolute;
    margin-left:100px ;

    width: 400px;
    left: 180px;

}

.li-l .logo-l, .li-r .logo-r {
    position: absolute;

    width: 150px;
    height: 150px;
    left: 60px;
    top: 120px;
}

.li-l .text-l h4, .li-r .text-r h4 {
    line-height: 32px;
    height: 32px;
    margin-top:30px ;
}

.li-l .text-l h3, .li-r .text-r h3 {
    line-height: 36px;
    height: 36px;
    font-size:22px ;



}

.li-l .text-l p, .li-r .text-r p {
    text-align: left;
    line-height: 20px;
    height: 20px;
    text-indent:40px;
    font-size: 20px;

    margin-top:20px ;

}

.job, .work {
    width: 300px;
    height:400px;

}

.project {
    line-height: 140px;



    font-size: 40px;
}
.left-box{
    margin: 100px auto 0;
    width: 1000px;
}
.left-box .work{
    float: left;
}
.project-job, .job，.work {
    text-align: center;
}

.project-job .job, .project-job .work {
    /*background-color: #ffffff;*/
    border-radius: 30px;
}
.project-job .job{
    margin-left: 20px;
}
.project-job .work {
    margin-left: 20px;


}
.project-job .work-r{
    margin-right: 20px;
}


.job h4, .work h4 {
    margin-top: 30px;
    font-size: 30px;
}

.job p, .work p {
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    padding: 0 10px;
    text-indent:36px
}

.job a {
    margin-top: 20px;
}

.myself {
    text-align: center;

    font-size: 40px;
}





.character {
    margin: 50px auto 0;
    text-align: center;
    width: 1000px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.character .character-f {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: 30px;

}

/*.li-l .logo-l, .li-r .logo-r {*/
    /*width: 1rem;*/
    /*height: 1rem;*/
/*}*/